header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 6px 0 white;
  padding: 4px;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(16, 98, 213);
  outline: 2px solid white;
}
header nav {
  display: flex;
  gap: 1rem;
}
header nav a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}
header nav a:hover {
  color: rgb(213, 16, 16);
  transition: all 0.2;
}
header nav a:active {
  background: #8f1e1e;
}
